<div class="custom-accordion-container">
  <ul class="custom-accordion">
    <li *ngFor="let data of dataSet; index as i">
      <input *ngIf="!multipleOpenable" type="checkbox" [(ngModel)] = recordsOpened[i] (click)="openRecordEvent(i)">
      <input *ngIf="multipleOpenable" type="checkbox" [(ngModel)] = recordsOpened[i]>
      <i></i>
      <div class="title">{{title || 'Accordion'}}</div>
      <div class='content'>
          <ng-container *ngTemplateOutlet="accordionRecordTemplate; context: {$implicit: data}"></ng-container>
      </div>
    </li>
  </ul>
</div>

<!--  <p>Form value: {{ recordsOpened | json }}</p> -->
<!-- <p>Form value: {{ formGroup.get('validator').value }}</p> -->