<!-- <div class="form-group"></div> -->
<!-- GLOBAL CSS CLASSES? -->
<div [id]="componentId" class="custom-text" [formGroup]="formGroup" [ngClass]="{'custom-text-error': formGroup.invalid && (formGroup.touched || formGroup.dirty)}" >  
  <div class="custom-text-inner">  
    <div *ngIf="prefix" [innerHTML]="prefix"></div>
    <input [type]="type || 'text'" class="form-control" placeholder=" " formControlName="validator">
    <label class="custom-text-placeholder">{{placeholder}}</label>
    <div *ngIf="suffix" [innerHTML]="suffix"></div>
  </div>
  <span class='text-hint' *ngIf="hint" [innerHTML]="hint"></span>
  <span class='error-text'>{{errorMessage || 'Error'}}</span>
</div>