[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 0px 0 #ddd; /* Remove default bootstrap effect */
}

.custom-text{
  margin-bottom: 1.5rem;
  margin-top: 20px;
}

.custom-text .text-hint{
  font-weight: lighter;
  font-size: 14px;
  font-style: italic;
}

.custom-text-error .custom-text-inner{
  color: #ff4931;
  border-bottom: 1px solid #ff4931;
}

.custom-text-inner {
  display: table;
  border-collapse: collapse; /* Remove border bottom line from thickening caused from display: table */
  position: relative;
  width: 100%;
  border-right: none;
  border-left: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #8f8f8f;
  transition: all 150ms;
}

.custom-text-inner div{
  display: table-cell;
  text-align: center;
  width: 5%;
  padding: 0 10px;
}

.custom-text-inner input {
  border-radius: 0;
  border: none;
}

.custom-text-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  pointer-events: none;
  /* this has I.E. compatbility issues */
}

.form-control:valid+.custom-text-placeholder,
.form-control:focus+.custom-text-placeholder{
  font-size: 75%;
  transform: translate3d(0, -90%, 0);
  opacity: 1;
  color: #02c1fc;
}
.form-control:not(:focus)+.custom-text-placeholder{
  color: inherit;
  transition: all 150ms;
}

.custom-text :focus-within{
  border-collapse: inherit;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #02c1fc;
  border-left: 1px solid #02c1fc;
}
.custom-text-inner :focus-within{
  border: none;
}
.custom-text :focus-within div{
  color: #02c1fc;
}
.custom-text :focus-within input{
  border-bottom: 1px solid transparent; /* This fixes broken css above to do with borders... god i hate css */
  transition: none;
}

.error-text{
  color: #ff4931;
  float: right;
  color: #ff4931;
  font-weight: bold;
  font-style: italic;
  opacity: 0;
	transition: all 200ms;
}

.custom-text-error .error-text{
	animation-name: fadeIn;
  animation-duration: 0.5s;
  opacity: 1;
}