<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    OLD NAV MOBILE VIEW BUGGED BECASE ANGULAR DATATARGET
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/exercises" routerLinkActive="active" class="nav-link">Exercises</a>
      </li>
      <li class="nav-item">
        <a routerLink="/accounts" routerLinkActive="active" class="nav-link">Accounts</a>
      </li>
    </ul>
  </div>
</nav>-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/exercises" class="nav-link">Exercises</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/accounts" class="nav-link">Accounts</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/components" class="nav-link">Custom Component Library</a>
    </li>
    
    <li class="nav-item dropdown" routerLinkActive="active">
      <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" (mouseover)="mouseover($event)" (mouseout)="mouseout($event)"> -->
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" (click)="hover=true">
        Examples
      </a>
      <div class="dropdown-menu" [ngClass]="{'show': hover}"  (mouseleave)="hover=false">
        <a class="dropdown-item" routerLink="/form-a">Form A</a>
        <a class="dropdown-item">Form B</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Custom</a>
      </div>
    </li>
  </ul>
</nav>

<div>
  <div class="jumbotron">
    <h1>I'm Learnding</h1>
    <p>Single Page Application</p>
  </div>
</div>
<router-outlet></router-outlet>
<app-custom-modal></app-custom-modal>
