<div class="container">
    <h3>Radio</h3>
    <app-custom-radio [formGroup]="radioOptionsFormGroup" [radioOptions]="radioOptions"></app-custom-radio>
    <app-custom-radio [formGroup]="radioOptionsFormGroup2" [radioOptions]="radioOptions2"></app-custom-radio>

    <h3>Alert</h3>
    <app-custom-alert [type]="'i'" [title] = "'Information'">
        <p>This is an information alert. You have been alerted! This is an information alert. You have been alerted! This is an information alert. You have been alerted!</p>
    </app-custom-alert>
    <app-custom-alert [type]="'i'">
        <p>This is an information alert with no title.</p>
    </app-custom-alert>
    <app-custom-alert [dismissible] = 'true' [type]="'w'" [title] = "'Warning'">
        <p>This is a <b>dismissible</b> warning!</p>
    </app-custom-alert>
    <app-custom-alert [type]="'s'" [title] = "'Success'">
        <p>Congrats. Whatever you did was successful.</p>
    </app-custom-alert>

    <h3>Button</h3>
    <app-custom-button (clickFunc) = 'btnFunc($event)'></app-custom-button>
    <app-custom-button [text] = "'Loading'" (clickFunc) = 'btnFunc2($event)'></app-custom-button>
    <app-custom-button [text] = "'Service Call'" (clickFunc)= 'btnServiceCall($event)'></app-custom-button>
    
    <h3>Text</h3>
    <app-custom-text [formGroup]="formGroup1" [placeholder]="'Input'"></app-custom-text>
    <app-custom-text [placeholder]="'Input'" [prefix]="'$'"></app-custom-text>
    <app-custom-text [placeholder]="'Input'" [prefix]="'$'" [suffix]="'.00'" [hint]="'A helpful hint'"></app-custom-text>
    <app-custom-text [formGroup]="formGroup4" [placeholder]="'Input'" [hint]="'Errors if input is less than 3 length'"></app-custom-text>
    
    <h3>Select</h3>
    <app-custom-select [formGroup]="radioOptionsFormGroup" [selectOptions]="radioOptions"></app-custom-select>
    <app-custom-select [formGroup]="radioOptionsFormGroup2" [selectOptions]="radioOptions2"></app-custom-select>
</div>