<ul class="custom-select" [formGroup]="formGroup">
  <li>
    <input class="select-close" type="radio" formControlName="validator" id="select-close" [value]='undefined' />
    <span class="select-label select-label-placeholder">-- Select --</span>
  </li>

  <li class="select-items">
    <input class="select-expand" type="radio" formControlName="validator" id="select-opener" value=' '/>
    <label class="select-closeLabel" for="select-close"></label>

    <ul class="select-options">
      <li class="select-option" *ngFor="let select of selectOptions">
        <input class="select-input" type="radio" formControlName="validator" [id]="componentId + select.value" [value]="select.value"/>
        <label class="select-label" [for]="componentId + select.value">{{select.text}}</label>
      </li>
    </ul>

    <label class="select-expandLabel" for="select-opener"></label>
  </li>
</ul>
<p>Form value: {{ formGroup.get('validator').value }}</p>
