.custom-checkbox {
  margin: auto;
  padding: 5px 5px 8px 0;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.custom-checkbox span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.custom-checkbox span:first-child {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}

.custom-checkbox span:first-child svg {
  position: absolute;
  /* Lookup svg and polyline so that youre not just moving this around */
  top: 6px;
  left: 4px;
  fill: none;
  stroke: #3C454C;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.custom-checkbox span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.custom-checkbox span:last-child {
  /* Label */
  padding-left: 8px;
  font-size: 18px;
}

.custom-checkbox:hover span:first-child {
  border-color: #02c1fc;
}

.custom-checkbox-input:checked+.custom-checkbox span:first-child {
  background: #02c1fc;
  border-color: #02c1fc;
  animation: wave 0.4s ease;
}

.custom-checkbox-input:checked+.custom-checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

.custom-checkbox-input:checked+.custom-checkbox span:first-child:before {
  transform: scale(3);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.95);
  }
}
