<div class="row" style="padding-bottom:20px">
  <div class="col-6">
    <h3>{{name}}</h3>
    <p *ngIf="desc" [innerHTML]=desc></p>
    <div *ngFor="let input of inputs; index as i">
      <mat-form-field style="width:100%">
        <input matInput [placeholder]="input.placeholder || 'Input'" [(ngModel)]=input.payload [type]=input.inputType>
      </mat-form-field>
    </div>

    <div *ngFor="let button of buttons; index as i" class="side-by-side">
      <button mat-raised-button color="primary" (click)="send(i)" [disabled]="button.loading">
        <div *ngIf="!button.loading">
          {{button.text}}
        </div>
        <div *ngIf="button.loading">
          &nbsp;
          <div class="spinner"></div>
        </div>
      </button>
    </div>

  </div>
  <div class="col-6">
    <h3>Result</h3>
    <p style="overflow: scroll">{{result}}</p>
    <p>{{duration}}</p>
  </div>
</div>
<hr />
