/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* GLOBAL ANIMATIONS */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: rgb(51, 51, 51);
  animation: spinner .6s linear infinite;
}

.jumbotron{
  padding: 2rem 2rem;
}
