<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field style="width:100%">
        <input matInput placeholder="Enter A Number To Send" [(ngModel)]=duration type="number">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="test()" [disabled]="loading">
        <div *ngIf="!loading">
          Test service
        </div>
        <div *ngIf="loading">
          &nbsp;
          <div class="spinner"></div>
        </div>
      </button>
    </div>
    <div class="col">
      <p>{{result}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" (click)="modal()">
        Modal
      </button>
    </div>
  </div>
</div>

